.volunteer-match-info-disclaimer{
	font-size: smaller;
}
#volunteer-match-opp-list{
	max-height:500px;
	list-style-position:outside;
}
#volunteer-match-opps nav .pagination{
	list-style-type:none;
}